*{
    border: solid black 1px;
}
#body{
    width: 100vw;
    height: 100vh;
}
#header{
    display: flex;
    height: 20%;
    flex-direction: column;
}
#headertitle{
    text-align: center;
}

#options{
    display: flex;
    height: 30px;
    justify-content: center;
    flex:1;
    padding: 20px;
}

#maincontent{
    height:850px;
    display: flex;
}
#footer{
    height: 100px;
}